@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch&display=swap');

.navbar {
    background-color:transparent;
    position: -webkit-sticky;
    
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    height:30px;
   ;
}

.brand {
    font-family: 'Cabin Sketch', cursive;
    font-size: 35px;
    color: teal;
}
