

<body>
  <hr>
  
  <div class="jumbotron " style="background-color:transparent;">
    <div class="container-fluid bg-no-overlay">
  <div class="row">
    <div class="col-md-8">
      <div *ngFor="let quote of quotes; let i = index">
        <div class="card" id="cla">
          {{ quote.saying }}
          <br>
          {{ quote.name }}


          <ul>
            <button (click)="addUpVotes(i)">
              <i class="fas fa-thumbs-up"></i>
            </button>
            {{
              quote.upVotes
            }}

            <button (click)="addDownVotes(i)">
              <i class="fas fa-thumbs-down"></i>
            </button>
            {{
              quote.downVotes
            }}
          </ul>
          <button (click)="displayDetails(i)" class="btn btn-outline-light btn-md">
            Display
          </button>
        </div>
        <br />
        <div>
          <app-quote-detail *ngIf="quote.showQuotes" [quote]="quote" (isComplete)="deleteQuote($event, i)">
          </app-quote-detail>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <app-quote-form (AddQuote)="addNewQuote($event)"></app-quote-form>
    </div>
  </div>
    </div>
  </div>

</body>